body {
    background-color: black;
    font-family: sans-serif
}

.skull{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
      
}


.visuals {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin:80px;
  }

  .doodles {
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
  }

  .doodles img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
  }
  

@media screen and (max-width: 800px) {
    .doodles {
      flex: 50%;
      max-width: 50%;
    }
  }
  


  .pTitle {
    text-align: center;
}


.bio {
    padding: 20px;
    color: rgb(146, 146, 146);
}

.container{
    color:white;
    text-align: center
}

.row {
    text-align: center;
}

.card{
    /* background-color:   rgb(146, 146, 146); */
    background: url('../assets/img/darkBanner.jpg') center top;
    opacity: 4;
    margin: 20px;

}

.card-title{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

a.btn{
    color: white;
    background-color:black;
    outline-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


div.col{
    margin-left: 4em;
    display: inline-block;
}

h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

p {
    padding: 20px;
    color:white;
}

