.contact {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    background-color: rgba(223, 223, 223, 0.582);
}

#contact{
    background: url('../assets/img/darkBanner.jpg') center bottom;
}
button {
    color: white;
}
footer{
    color: white;
}