.jumbotron {
    background: url('../assets/img/darkBanner.jpg') center bottom;
    background-size: cover;
    height: 150vh;
    color: white;
    text-align: center;

}

.logo {
    display: inline-block;
    flex-wrap: wrap;
}