.navbar-expand-lg {
    font-family: var(--font-four);
    font-size: 13px;
    text-decoration-color: (--yellow);
    background-color:rgb(0, 0, 0);
    
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

a.nav-item.nav-link {
    color: rgb(247, 221, 78);
    
    font-family: Georgia, 'Times New Roman', Times, serif

}

h4{
    color:rgb(250, 244, 244);
    
    font-family: Georgia, 'Times New Roman', Times, serif
}