#v-pills-tab {
    position: fixed;
}

a#v-pills-home-tab.nav-link{
    background-color: #f1f1f1;
    color: black;
    text-emphasis: hover;
    font-family: monospace;
}

a#v-pills-home-tab.nav-link:hover{
    color:grey;

}

a#v-pills-design-tab.nav-link{
    background-color: #f1f1f1;
    color: black;
    text-emphasis: hover;
    font-family: monospace;
}

a#v-pills-design-tab.nav-link:hover{
    color:grey;
}

a#v-pills-projects-tab.nav-link{
    background-color: #f1f1f1;
    color: black;
    text-emphasis: hover;
    font-family: monospace;
}

a#v-pills-projects-tab.nav-link:hover{
    color:grey;
}

a#v-pills-art-tab.nav-link{
    background-color: #f1f1f1;
    color: black;
    font-family: monospace;
}



a#v-pills-dart-tab.nav-link{
    background-color: #f1f1f1;
    color: black;
    text-emphasis: hover;
    font-family: monospace;
}

a#v-pills-dart-tab.nav-link:hover{
    color:grey;
}


a#v-pills-tart-tab.nav-link{
    background-color: #f1f1f1;
    color: black;
    text-emphasis: hover;
    font-family: monospace;
}

a#v-pills-tart-tab.nav-link:hover{
    color:grey;
}


h6 {
    font-family: monospace;
    text-align: center;
}